.git
.gitignore
.dockerignore
tests/
solution/
*.zip
*.tar.gz
.idea/
.vscode/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.ruff_cache/
**/node_modules/
**/*.exe
**/*.dll
