[Unit]
Description=Telemetry Collector socket

[Socket]
ListenStream=/run/collector-fallback.sock
SocketUser=root
SocketGroup=root
SocketMode=0600

[Install]
WantedBy=sockets.target
