pytest==8.4.1
pytest-json-ctrf==0.3.5
jsonschema==4.23.0
cryptography==43.0.3
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
pygments==2.19.1
attrs==24.2.0
referencing==0.35.1
rpds-py==0.20.0
jsonschema-specifications==2024.10.1
cffi==1.17.1
pycparser==2.22
